Source: truenas-api-client
Section: contrib/python
Priority: optional
Maintainer: iX Engineering <dev@ixsystems.net>
Build-Depends: debhelper-compat (= 12),
               dh-python,
               pybuild-plugin-pyproject,
               python3-all,
               python3-setuptools,
               python3-websocket (>= 1.3.2)
Standards-Version: 4.4.0
Homepage: https://github.com/truenas/api_client

Package: python3-truenas-api-client
Architecture: all
Depends: python3-websocket
         ${misc:Depends},
         ${python3:Depends}
Description: TrueNAS API client
 This package provides TrueNAS API client.
